<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647691221141-3gmfevujqj4u73gm6udlbq1dgksk4gnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647691221141-3gmfevujqj4u73gm6udlbq1dgksk4gnb</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0daKofia_Ouho0023Ro1CiIOeqq-w_I</string>
	<key>GCM_SENDER_ID</key>
	<string>647691221141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Socion.PrivateSocionTinker</string>
	<key>PROJECT_ID</key>
	<string>socionprivatetinker</string>
	<key>STORAGE_BUCKET</key>
	<string>socionprivatetinker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647691221141:ios:17fae4d48f554fb289039c</string>
</dict>
</plist>